<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwh.mapper.HistoryDoneTaskMapper" >

    <select id="queryDoneTaskList" parameterType="map" resultType="HistoryDoneTaskVO">
        SELECT DISTINCT
        RES.ID_ id,
        RES.NAME_ name,
        RES.DESCRIPTION_ description,
        RES.TASK_DEF_KEY_ taskDefinitionKey,
        RES.PROC_INST_ID_ processInstanceId,
        RES.START_TIME_ startTime,
        RES.END_TIME_ endTime
        FROM
        ACT_HI_TASKINST RES
        <where>
            RES.END_TIME_ IS NOT NULL
            <if test="taskDefinitionKey != null and taskDefinitionKey != ''">
               and RES.TASK_DEF_KEY_ = #{taskDefinitionKey}
            </if>
            <if test="processInstanceId != null and processInstanceId != ''">
                and RES.PROC_INST_ID_ = #{processInstanceId}
            </if>
        </where>
        ORDER BY
        RES.START_TIME_ DESC
    </select>

    <select id="queryCompleteProcessTaskList" parameterType="map" resultType="HistoryDoneTaskVO">
        SELECT DISTINCT
        RES.ID_ id,
        RES.NAME_ name,
        RES.DESCRIPTION_ description,
        RES.TASK_DEF_KEY_ taskDefinitionKey,
        RES.PROC_INST_ID_ processInstanceId,
        RES.START_TIME_ startTime,
        RES.END_TIME_ endTime
        FROM
        ACT_HI_TASKINST RES
        INNER JOIN ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
        <where>
            HPI.END_TIME_ IS NOT NULL
            <if test="taskDefinitionKey != null and taskDefinitionKey != ''">
               and RES.TASK_DEF_KEY_ = #{taskDefinitionKey}
            </if>
            <if test="processInstanceId != null and processInstanceId != ''">
                and RES.PROC_INST_ID_ = #{processInstanceId}
            </if>
        </where>
        ORDER BY
        RES.START_TIME_ DESC
    </select>

</mapper>